
.entry {
  border: 0.125rem dotted purple;
  margin: 0.125rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}

.headliner ul {
  display: flex;
  flex-direction: row;
  justify-content: safe-center;
  align-content: center;
		
}

.thought {
  padding: 0rem 1rem 0rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.liked-thought {
  background-color: purple ;
}

.currentThought {
  align-self: flex-start;
}

.originalThought {
  margin: 5px;
  padding: 10px;
  border: solid red 1px;
  width: 80%;
	  
}
