
.entry {
  border: 0.125rem dotted purple;
  margin: 0.125rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}

.headliner ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
		
}

.thought {
  padding: 0rem 1rem 0rem 1rem;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

