.userInfo h1 {
  text-decoration: underline;
}

.noEditItem {
  visibility: collapse;
}

#userEdit {
  display: flex;
  flex-direction: row;
}

.userStats {
  display: flex;
  flex-direction: column;
}

