
#userEdit {
  display: flex;
  flex-direction: row;
}

.userStats ul {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 10px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  background-color: #1eeede;
  border-radius: 25px;
  border: solid #7262d4 3px;
}

.userInfo h1 {
  text-decoration: underline;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: dotted #fb0df1 5px;
  border-radius: 15px;
}
