.notifications {
  display: flex;
  flex-direction: column;
}

.notifications li {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  border-style: dotted none none none;
  border-color:  #fb0df1;
  border-size: 5px;
  &:last-child {
    border-style:  dotted none dotted none;
    border-color:  #fb0df1;
    border-size: 5px;

  }
}

.notifProfile {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  & p {
    padding: 5px;
    margin: 5px;

    & .userTag {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border: solid #7262d4 1px;
      border-radius: 25px;
    }
    
    & img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
}


.thoughtRef {
  border: solid red 1px;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 80px;
}

.actions button {
  height: 30px;
  width: 75px;
  
}
