.notifications {
  display: flex;
  flex-direction: column;
}

.notifications li {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  border-style: dotted none none none;
  border-color:  #fb0df1;
  border-size: 5px;

  &:last-child {
    border-style:  dotted none dotted none;
    border-color:  #fb0df1;
    border-size: 5px;
  }
}

.notifications #clearNotifs {
    width: 95%;
}

.userCard {
	display: flex;
	flex-direction: row;
}

.intro {
	display: flex;
	flex-direction: column;
}

.notifProfile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  
  & .userTag {
      display: flex;
	  padding: 0.75rem;
      flex-direction:column;
      align-items: center;
      justify-content: center;
      border: solid #7262d4 1px;
      border-radius: 25px;
  }
  
  & img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
  }
}



.thoughtRef {
  border: solid red 1px;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  & button {
	  height: 30px;
	  width: 75px;
  }

  & span {
	  text-align : center;
  }
}

