#feed {
  width: 90%;
  display:flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

#feedContainer {
  width: 666px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-shrink: 0;
}

#mainFeed .mainPage {
  width: 100%;
  display: flex;
  flex-direction:row;
  flex-shrink: 0;
}

#userInfo {
  width: 20%;
}

#replys {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #7262d4;
    border: ridge #1eeede 5px;
}

#replyHeadline {
    width: 90%;
    background: #1eeede;
    display: flex;
    fled-direction: row;
    justify-content: center;
    border: ridge #7262d4 5px;
}

.thought-and-replys {
  display: flex;
  flex-direciton: column;
}

#replys li {
  background-color: #a0c0ec;
}

#friendLists {
  display: flex;
  flex-direction: column;
  width: 50rem;
  border: groove #a1fbb9  5px;
  background-color: #eef66c;
  border-radius: 0.4rem;
  margin: 0.5rem;
}

#pendingFriends,
#currentFriends,
#usersFollowing,
#blockedUsers{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.attribute {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 13rem;
}

#pfp {
    display:flex;
    flex-directon: column;
    justify-content: center;

}

#editProfile,
#loginEntry,
#signUp,
#friends,
#following,
#blocked{
    background-color: #03c3c6;
    border-radius: 5px;
    border: solid #342987 2px;
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
}

.loginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#userLists {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.relations {
    margin: 1rem 0.5rem 0rem 0.5rem;
}

#relationships {
    display: flex;
    flex-direction: column;
}

#userHeader {
    display: flex;
    flex-direciton: row;
    background-color: #03c3c6;
    border-radius: 5px;
    border: solid #342987 2px;     
}
