g
.entry {
  border: 0.125rem dotted purple;
  margin: 0.125rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  flex-shrink: 0;
}

.headliner ul {
  display: flex;
  flex-direction: row;
  justify-content: safe-center;
  align-content: center;
  flex-shrink: 0;
}

.thought {
  padding: 1rem 1.5rem 1rem 1.5rem;
  margin: 1.5rem 1.5rem;
  border: groove #a1fbb9  5px;
  background-color: #eef66c;
  border-radius: 0.4rem;
  width: 80%;
}

.bottom-buttons .actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.bottom-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #1eeede;
  width: 100%;
  margin: 0rem 0rem -0.4rem 0rem;
}


.liked-thought {
  background-color: purple ;
}

.currentThought {
  align-self: center;
}

.post {
  background-color: #7262d4;
  border: ridge #1eeede 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0.25rem;
}

.authorInfo {
  padding: 0rem 0rem 0rem 0rem;;
  height: 8rem;	 
}

.authorInfo p a,
.authorInfo p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 30rem;
}

.authorInfo p a:last-child {
  display: flex;
  justify-content: flex-end;
}

.authorInfo img {
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  padding: 0rem;
  width: 6.25rem;
  height: 6.25rem;
  background-color: #d82d1b;
}

.pfpCircle {
  background-color: #fb0df1;
  border: solid #fbfc0b 0.1rem;
  border-radius: 50%;
  margin: 0rem 0.4rem 0rem 0rem;
}

.authorInfoReThought {
  height: 2.5rem;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.originalReThought {
  border: solid red 0.1254rem;
  border-radius: 1rem;
}


.originalAuthor {
  display: flex;
  flex-direciton: row;
  justify-content: space-between;
}


.originalThought {
  margin: 0.4rem;
  padding: 0.2rem 0.2rem 0rem 0.2rem;;
  width: 80%;	  
  visibility: collapse;
  opacity: 0;
  position: absolute;
  transition: visibility 0.5s ease-in-out, opacity 1.5s ease-in-out, position 0s static ease-in-out;
  z-index: 3;
}

.replyBox:hover .originalThought {
 transition: visibility 0.5s linear, opacity 1.5s ease-in-out, position 0.5s linear;
  visibility: visible;
  opacity: 1;
  position: static;
  z-index: 3;
 }

.replyBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.replyThought {
  width: 100%;
  justify-items: start;
    border-style: none none none double;
}
