
.entry {
  border: 0.125rem dotted purple;
  margin: 0.125rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  flex-shrink: 0;
}

.headliner ul {
  display: flex;
  flex-direction: row;
  justify-content: safe-center;
  align-content: center;
  flex-shrink: 0;
}

.thought {
  padding: 20px 40px 20px 40px;
  margin: 25px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  border: groove #a1fbb9  5px;
  background-color: #eef66c;
  border-radius: 5px
}

.bottom-buttons .actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.liked-thought {
  background-color: purple ;
}

.currentThought {
  align-self: center;
}

.originalThought {
  margin: 5px;
  padding: 10px;
  border: solid red 1px;
  width: 80%;	  
}

.bottom-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #1e98b5;
}

.post li {
  background-color: #7262d4;
  border: ridge #1eeede 5px;
}

.authorInfo p a, 
.authorInfo p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.authorInfo img {
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  width: 100px;
  height: 100px;
  background-color: #d82d1b;
}

.pfpCircle {
  background-color: #fb0df1;
  border: solid #fbfc0b 1px;
  border-radius: 50%;
  margin: 0px 5px 0px 0px;
}
