* {
  padding: 5px;
}
  
.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  border-radius: 50px;
  background-color: #dbebed;
  border-style: inset;
  border-color: #1eeede;

  & a {
    text-decoration: none;
    cursor: pointer;
    transition: all 0,3s ease;
    &:hover {
      border: solid #0af6e4 2px;
      border-radius: 50%;
      blow-shadow: 0 0 3rem regba(0,255,0, 0.5);
      trasform: translateY(-0.5rem);
    }
  }
}




